# Editor
alias vim="nvim"
alias vi="nvim"
alias vimdiff="nvim -d"
export EDITOR="nvim"
export VISUAL="nvim"

# Claude Code
alias claude="claude --dangerously-skip-permissions"

# Container
alias docker="podman"
