<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>settings</key>
	<dict>
		<key>appVolumes</key>
		<dict/>
		<key>batteryLimitPercent</key>
		<integer>10</integer>
		<key>clamshellPreferred</key>
		<true/>
		<key>defaultDurationMinutes</key>
		<integer>0</integer>
		<key>featureAvailable.appUpdates</key>
		<false/>
		<key>featureAvailable.autoQuit</key>
		<false/>
		<key>featureAvailable.brightness</key>
		<false/>
		<key>featureAvailable.cameraPreview</key>
		<false/>
		<key>featureAvailable.cleaner</key>
		<false/>
		<key>featureAvailable.cleaningMode</key>
		<false/>
		<key>featureAvailable.clipboardHistory</key>
		<false/>
		<key>featureAvailable.colorPicker</key>
		<false/>
		<key>featureAvailable.commandBar</key>
		<false/>
		<key>featureAvailable.diskImageInstaller</key>
		<false/>
		<key>featureAvailable.dockClick</key>
		<false/>
		<key>featureAvailable.dockPreview</key>
		<false/>
		<key>featureAvailable.extraBrightness</key>
		<false/>
		<key>featureAvailable.fanControl</key>
		<false/>
		<key>featureAvailable.finderCutPaste</key>
		<false/>
		<key>featureAvailable.finderRename</key>
		<false/>
		<key>featureAvailable.focusFollowsMouse</key>
		<false/>
		<key>featureAvailable.homebrew</key>
		<false/>
		<key>featureAvailable.keepAwake</key>
		<true/>
		<key>featureAvailable.keyboardDebounce</key>
		<false/>
		<key>featureAvailable.mediaTools</key>
		<false/>
		<key>featureAvailable.micMute</key>
		<false/>
		<key>featureAvailable.middleClick</key>
		<false/>
		<key>featureAvailable.mixer</key>
		<true/>
		<key>featureAvailable.monitorCPU</key>
		<true/>
		<key>featureAvailable.monitorDisk</key>
		<true/>
		<key>featureAvailable.monitorGPU</key>
		<true/>
		<key>featureAvailable.monitorMemory</key>
		<true/>
		<key>featureAvailable.monitorNetwork</key>
		<true/>
		<key>featureAvailable.monitorPower</key>
		<true/>
		<key>featureAvailable.mouseButtonShortcuts</key>
		<false/>
		<key>featureAvailable.mouseNavigation</key>
		<false/>
		<key>featureAvailable.musicBlock</key>
		<false/>
		<key>featureAvailable.pastePlain</key>
		<false/>
		<key>featureAvailable.quickLauncher</key>
		<false/>
		<key>featureAvailable.quickToggles</key>
		<false/>
		<key>featureAvailable.radialMenu</key>
		<false/>
		<key>featureAvailable.scratchpad</key>
		<false/>
		<key>featureAvailable.screenOCR</key>
		<false/>
		<key>featureAvailable.screenRecorder</key>
		<false/>
		<key>featureAvailable.screenshot</key>
		<false/>
		<key>featureAvailable.scrollInverter</key>
		<true/>
		<key>featureAvailable.shelf</key>
		<false/>
		<key>featureAvailable.smoothScroll</key>
		<false/>
		<key>featureAvailable.soundOutputSwitcher</key>
		<false/>
		<key>featureAvailable.superKey</key>
		<false/>
		<key>featureAvailable.switcher</key>
		<false/>
		<key>featureAvailable.textSnippets</key>
		<false/>
		<key>featureAvailable.uninstaller</key>
		<false/>
		<key>featureAvailable.urlCleaner</key>
		<false/>
		<key>featureAvailable.windowLayout</key>
		<false/>
		<key>featureAvailable.windowMaximizer</key>
		<false/>
		<key>featuresOnboardingVersion</key>
		<integer>4</integer>
		<key>hasOnboarded</key>
		<true/>
		<key>keepAwakeActiveIcon</key>
		<string>vorssaint</string>
		<key>keepAwakeAutoStart</key>
		<true/>
		<key>keepAwakeIconTint</key>
		<string>green</string>
		<key>keepAwakeMouseJiggleEnabled</key>
		<false/>
		<key>keepAwakeMouseJiggleIntervalMinutes</key>
		<integer>5</integer>
		<key>lastUpdateIntroVersion</key>
		<string>3.3.2</string>
		<key>launchAtLoginWanted</key>
		<true/>
		<key>onboardingStep</key>
		<integer>0</integer>
		<key>panelCollapsedResetVersion</key>
		<string>2.15.1</string>
		<key>scrollInverterEnabled</key>
		<true/>
		<key>scrollInverterHorizontalEnabled</key>
		<false/>
		<key>supportUpdateIntroVersion</key>
		<string>3.3.2</string>
		<key>updateHighlightsSeenVersion</key>
		<string>3.3.2</string>
	</dict>
	<key>vorssaintBackupAppVersion</key>
	<string>3.3.2</string>
	<key>vorssaintBackupVersion</key>
	<integer>1</integer>
</dict>
</plist>
