[defaults]
inventory = inventory/personal.yml
roles_path = roles/common:roles/macos:roles/linux:roles/wsl
retry_files_enabled = false
stdout_callback = default
result_format = yaml
inject_facts_as_vars = false

[privilege_escalation]
become_ask_pass = false
