---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  become: true

- name: Install essential packages
  ansible.builtin.apt:
    name:
      - build-essential
      - curl
      - wget
      - git
      - git-lfs
      - tree
      - nmap
      - zsh
      - neovim
      - unzip
      - fontconfig
    state: present
  become: true
